ul.navbar-nav {
    margin-left: auto;
}

.slider{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../imagens/construction-2933226_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    padding-top: 20%;
    padding-bottom: 30%;
    object-fit: cover;
    opacity: 1;
    z-index: auto;
    display: inline-block;
}

.btn{
    position: relative;
    margin-top: 50px;
    background-color:#2B0C12;
    border: #6792AB;
    color: #E8BF56;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.5s;
    cursor: pointer;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    width: 250px;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }

.servicos{
    padding: 5px;
}

.titulo-servicos{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: bold;
}

.bg{
    background-color:#0D2024;
}

.pt-5{
    padding-top: 3rem!important;
}

.container-fluid{
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.text-center{
    text-align: center!important;
}

.my-3{
    margin-top: 1rem!important;
}

.mx-5{
    margin-right: 3rem!important;
    margin-bottom: 1rem!important;
}

.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}

.services-texto{
    font-weight: bold !important;
}

.circ{
    background-color:none;
}

img{
    vertical-align: middle;
    border-style: none;
}

.my-5{
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}

div {
    display: block;
}

.mt-1{
    margin-top: .25rem!important;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    scroll-margin-inline-end: 0px;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.col-5{
    flex: 0 0 auto;
    width: 41.6%;
}

button{
    outline: none;
}

.bu{

    border-color: #0D2024 ;
    border-radius: .3rem;
    line-height: 1.5;
    border: 0px solid;
    background:#0D2024;
    
}

#h1slider {
    font-family: 'Lobster', cursive;
    color:  #E8BF56;
    font-size: 100px;
    text-shadow: black 0.1em 0.1em 0.2em;
}


#h2slider {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  #E8BF56;
    font-size: 80px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#nav {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #E8BF56;
    font-size: 20px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#titulos {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  #2B0C12;
    font-size: 70px;
    text-align: center;
}

#titulos2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #E8BF56;
    font-size: 70px;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#texto1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #2B0C12;
    font-size: 20px;
    text-align: center;
}


#texto2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #E8BF56;
    font-size: 25px;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#texto3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #2B0C12;
    font-size: 35px;
    text-align: center;
}

#rodape {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    color: #E8BF56;
    font-size: 15px;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #E8BF56; 
    color: #2B0C12; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 15px;
  }
  
  #myBtn:hover {
    background-color: #555; 
  }

  input[type=submit] {
    background-color: #E8BF56;
    color:#2B0C12;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #imgport {
    border-radius: 8px;
  }

  #bot:hover{
    background-color: #555; 
  }